<div class="row">
  <div class="greetings">
   <h2 class="text-center">Welcome {{techName}}</h2> 
  </div>
  
</div>
<!-- Animation slide -->
<div class="row" *ngIf="notify">
    <mat-list class="chat-notification col-md-4 col-offset-4">
     <a
            style="cursor: pointer;"
            [routerLink]="['/chat']"
            class="list-group-item clearfix">
          
            <mat-list-item>
                    <p mat-line class="chat-notification">
                            <span> <b>Test client</b> is waiting in the chat.</span>
                    </p>
            </mat-list-item>
    
     </a>
        </mat-list>
</div>


<!--
div class="row">
  <div class="col-md-6"> 
      <mat-form-field>
          <mat-select   placeholder="Select Sorting Options"  (selectionChange)="setSearch($event.value)">
              <mat-option value = "SelectAll">Select All</mat-option>
            <mat-option value = "DateAll">Sort by Date</mat-option>
             <mat-option  value = "StatusDesc">Sort by Status</mat-option>
             <mat-option  value = "TicketId">Search By Id</mat-option>
            </mat-select>
       </mat-form-field>
  
  </div>

  <div class="col-md-6">
      <ul
      [ngSwitch]="property"> 
  
    <li *ngSwitchCase="'DateAll'" >
        <mat-radio-group [(ngModel)]="sortDate" (change)="radioChange($event)" >
            <mat-radio-button value="1">Descending</mat-radio-button>
            <mat-radio-button value="2">Ascending</mat-radio-button>
          </mat-radio-group>
    </li>
      
    <li *ngSwitchCase="'StatusDesc'">
        <mat-radio-group [(ngModel)]="type" >
            <mat-radio-button [value]="aStatus.StatusDesc"  *ngFor="let aStatus of statusService.statusList">{{aStatus.StatusDesc}}</mat-radio-button>     
          </mat-radio-group>
    </li>
        
    <li *ngSwitchCase="'TicketId'">
        <mat-form-field>
            <input matInput [(ngModel)]="type"  placeholder="Search by Id" type="number">
        </mat-form-field>
    </li>
       
  </ul>

  </div>

  <hr/>
</div>




-->


    <div class="row">    

      <app-ticket-list [listType]="userTickets" [id]="id" [filteredType]="type" [filteredProperty]="property"></app-ticket-list>
    
  

    <!-- <router-outlet></router-outlet>       -->  
    </div>


