<div mat-dialog-content>
<form class="tech-form" #techForm="ngForm" (ngSubmit)="onTechUpdate(techForm)">

    <div class="row">
        <div class="col-md-2">
            <h4>Name: </h4>
        </div>
         <div class="col-md-3">
          <h4>{{this.tech.FirstName}} {{this.tech.LastName}}</h4>
         </div>
      </div>
      <!--User description  -->
     
      
       <div class="row">
        <div class="col-md-2">
         <h4>Email: </h4>
          </div>
       
          <div class="col-md-3">
             <h4>{{this.tech.Email}}</h4>
          </div>
       </div>

<div class="form-group">
  <label for="category">Category:</label>
  <select  name="CategoryId" #CategoryId="ngModel" [(ngModel)]="tech.CategoryId" class="form-control" id="categories">
      <option [value]="aCategory.CategoryId" *ngFor="let aCategory of this.categoryList">{{aCategory?.CategoryDesc}} </option>
  </select>
</div>
      <button mat-raised-button type="update" color="primary">Update</button>
</form>

</div>




