<div class="col-md-6">
    <div class="col-xs-12">

            <button *ngIf="filteredProperty ==='StatusDesc'" (click)="onTicketStatusFilter()">
                {{toogle? ' Filter for Close Tickets':' Filter for Open Tickets'}}

            </button>
            <button *ngIf="filteredProperty ==='CategoryDesc'" (click)="onTicketCategoryFilter()">
                    {{toogle? 'Computer Category':'Cell Phones Category'}}
            </button>
           
            
            <input  *ngIf="filteredProperty ==='TechName'"  [(ngModel)]="filteredType"   placeholder="Enter Name of technician" type="text"   />
            
            <mat-list>     
                <app-ticket-item  [itemType]="listType" *ngFor="let aticket of ticketService.ticketList | ticketStatus: filteredType: filteredProperty"  [ticket]="aticket">
                    </app-ticket-item>
            </mat-list>

            <div class="row">
            </div>
    </div>
</div>