<div class="row">
  <div class="col-md-6">
    <h4>Name:</h4>
    <h4>{{user.FirstName}} {{user.LastName}}</h4>
    
    <div class="form-group">
        <label for="categories"></label>
        <select class="form-control" id="categories">
          <option>Select Categories</option>
        </select>
    </div>

    <div class="form-group">
        <label for="roles"></label>
        <select class="form-control" id="roles">
          <option>Select Roles</option>
        </select>
    </div>

    
    <button type="button"  (ngSubmit)="onUpdateUser()" class="btn btn-primary">Update</button>
    
  </div>