<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>

 <form [formGroup]="loginForm"   #lForm="ngForm" (ngSubmit)="login()">

   <mat-spinner *ngIf="loading"></mat-spinner>
   
    <mat-form-field>
        <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput  type="password" placeholder="password" formControlName="password">
    </mat-form-field>    
            
            <button mat-stroked-button color="primary" [disabled]="lForm.invalid"  type="submit">Log In</button>
         
    </form>
  <button mat-button  color="cancel" (click)=" closeDialog()" >Close</button>
  
   <div *ngIf="invalidCred" style="color:red">Invalid Credentials</div>
  
    
</div>
   
  

