<div class="row">
    <div class="sidenav">
        <ul>
         
          <li><a style="cursor: pointer;"
            [routerLink]="['']"
            routerLinkActive="active">Manage technicians categories</a> </li>
         
            <li><a style="cursor: pointer;"
            [routerLink]="['tickets']"
            routerLinkActive="active">Manage tickets Status</a>  </li>
       
            <li><a style="cursor: pointer;"
            [routerLink]="['technician/role']"
            routerLinkActive="active">Manage Users Roles</a>  </li>
        
            <li><a style="cursor: pointer;"
            [routerLink]="['tickets/user']"
            routerLinkActive="active">Assign ticket to user</a> </li>
        </ul>  
    </div>
    <div class="row">
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-6">
                <router-outlet name="admin_detail"></router-outlet>
        </div>
            
    </div>
  </div>
