<div class="row">
    <div class="sidenav">
        <ul>
         
          <li><a style="cursor: pointer;"
            [routerLink]="['tickets']"
            routerLinkActive="active">Tickets Management</a> </li>
         
       
            <li><a style="cursor: pointer;"
            [routerLink]="['manage']"
            routerLinkActive="active">Manage user roles</a>  </li>
        

            <li><a style="cursor: pointer;"
                [routerLink]="['tech']"
                routerLinkActive="active">Manage tech categories</a>  </li>


            <li><a style="cursor: pointer;"
                [routerLink]="['props']"
                routerLinkActive="active">Manage status, Categories, Roles</a> </li>

                <li><a style="cursor: pointer;"
                    [routerLink]="['create']"
                    routerLinkActive="active">Create Users</a> </li>
      

        </ul>  
    </div>
    <div class="row">

            <router-outlet></router-outlet>         
            
    </div>
  </div>
