<div class="row">
  <div class="row">
    <h2>Analytics Summary</h2>
  </div> 

  <div class="row">

    <div class="col-md-6">
        <div style="display: block">
          <!-- For status-->
            <canvas baseChart
                        [data]="doughnutChartStatusData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="chartColorsStatus"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>

    </div>

    <div class="col-md-6">
        <div style="display: block">
           <!-- For Categories-->
            <canvas baseChart
                        [data]="doughnutChartCategoryData"
                        [labels]="doughnutChartLabels2"
                        [chartType]="doughnutChartType"
                        [colors]="chartColorsCategories"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>

    </div>

  </div>
     
  <div class="row">
      <mat-tab-group>
          <mat-tab label="List by status">
           <div>
             <h4>Filter by status</h4>
             <mat-radio-group (change)="statusChange($event)">
                <mat-radio-button [value]="aStatus.StatusDesc"  *ngFor="let aStatus of statusService.statusList">{{aStatus.StatusDesc}}</mat-radio-button>     
              </mat-radio-group>
           </div>
             
             
             
              <app-ticket-list [filteredType]="statType" [filteredProperty]="defaultStatusproperty"></app-ticket-list>     
            </mat-tab>
          
            <mat-tab label="List by categories">
              <div>
                <h4>Filter by categories</h4>
                <mat-radio-group (change)="categoryChange($event)">
                    <mat-radio-button [value]="aCategory.CategoryDesc"  *ngFor="let aCategory of categoryService.categoryList">{{aCategory.CategoryDesc}}</mat-radio-button>     
                  </mat-radio-group>
              </div>
                

              <app-ticket-list [filteredType]="catType" [filteredProperty]="defaultCatproperty"></app-ticket-list>     
            </mat-tab>
         


            <mat-tab label="List by Technicians">
                <mat-form-field>
                    <input matInput [(ngModel)]="userInput" placeholder="Search by Name" type="text">
                </mat-form-field>
              <app-ticket-list [filteredType]="userInput" [filteredProperty]="techProperty"></app-ticket-list>     
          </mat-tab>



      </mat-tab-group>
  </div>

  <!--  <app-ticket-list [filteredType]="type" [filteredProperty]="property"></app-ticket-list>
    -->   
     <router-outlet></router-outlet>
  </div>
