<div>
  <mat-card>
      <mat-card-header>
        <mat-card-title>{{ categoryDesc }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field >
             <input matInput placeholder="category description" [(ngModel)]="categoryService?.category.CategoryDesc" >
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
         <button mat-button color="primary" (click)="update()">Update category</button>
         <button mat-button color="warn" (click)="delete()">Delete category</button>
         <button mat-button (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
</div>
