  <div class="userList">
           
        <div  class="role cat col-md-10">
                <a
                style="cursor: pointer;"
                [routerLink]="[user.id]"
                routerLinkActive=""
                class="list-group-item clearfix">
              
                  <mat-list-item class="col-md-8" role="listitem">
                    <h5 class="list-group-item-text left">{{user.FirstName}} {{user.LastName}}</h5>
                     <h5 class="list-group-item-text right">{{user.Role}}</h5>
                   </mat-list-item> 
                   
                  </a>
              
        </div>  

    
    </div>