<mat-card>

    <mat-card-header>    
      <div class="col-md-4 col-md-offset-4">
          <mat-card-title class="text-center">Submit a ticket so we can help you</mat-card-title>
     </div>
       </mat-card-header>
      
      <form [formGroup]="ticketForm" #tForm="ngForm" [hidden]="success" (ngSubmit)="tForm.valid && onAddTicket()">      

             <mat-form-field>
               <mat-select formControlName="categoryid"  placeholder="Select Category" >
               <mat-option [value]="aCategory.CategoryId" *ngFor="let aCategory of categoryService.categoryList">{{aCategory.CategoryDesc}} </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field>
              <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
            </mat-form-field>
          
          <button mat-raised-button type="submit"  [disabled]="tForm.invalid"   color="primary">Submit</button>
  </form>


  <div *ngIf="success">
    <h4>Ticket has been submitted. We will contact you by email
     for the next steps.To chat with a member <a >click here</a>.Thank you.</h4>
  </div>

  <mat-spinner *ngIf="loading"></mat-spinner>

</mat-card>
