<div class="col-md-6">
  <h4>Submit a ticket so we can help you</h4>
  <form [formGroup]="ticketForm" (ngSubmit)="onAddTicket()">

        
          <mat-form-field>
            <mat-select formControlName="categoryid">
               <mat-option [value]="aCategory.CategoryId" *ngFor="let aCategory of categoryService.categoryList">{{aCategory.Category}} </mat-option>
              </mat-select>
         </mat-form-field>


          <mat-form-field>
              <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
          </mat-form-field>
          
          <button mat-raised-button type="submit" color="primary">Submit</button>
  </form>



</div>
