<div mat-dialog-content>
<div class="col-md-12">
  <h3 class="text-center">Modification</h3>
  <form class="user-form" #userForm="ngForm" (ngSubmit)="onUserUpdate(userForm)">


    <div class="row">
      <div class="col-md-2">
          <h4>Name: </h4>
      </div>
       <div class="col-md-3">
        <h4>{{usersService?.user?.FirstName}} {{usersService?.user?.LastName}}</h4>
       </div>
    </div>
    <!--User description  -->
   
    
     <div class="row">
      <div class="col-md-2">
       <h4>Email: </h4>
        </div>
     
        <div class="col-md-3">
           <h4>{{usersService?.user?.Email}}</h4>
        </div>
     </div>
     

    <div class="form-group" >
        <label for="role">Role:</label>
        <select  name="RoleId" #RoleId="ngModel" [(ngModel)]="usersService.user.RoleId" class="form-control" id="categories">
            <option [value]="aRole.RoleId" *ngFor="let aRole of roleService.roleList">{{aRole.Role}} </option>
        </select>
      </div>

          <button mat-raised-button type="update" color="primary">Update</button>
  </form>



</div>

</div>